header h1 {
  text-align: center;
}

.articleList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px;
}

.articleCard {
  background-color: antiquewhite;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 400px;
  border-radius: 20px;
}

.articleCard img {
  width: 400px;
  border-radius: 20px;
}

.selectTopic {
  margin-right: 50px;
  margin-left: 50px;
}

.selectTopic ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.singleArticleBody,
.commentForm,
.commentList,
.votes {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.singleArticleBody,
.commentList p {
  text-align: justify;
}

.commentForm input {
  box-sizing: border-box;
  width: 100%;
  height: 5em;
}

.commentCard {
  border-style: solid;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.votes button {
  margin-right: 10px;
}
