.articleList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px;
}

.articleCard {
  background-color: antiquewhite;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 400px;
  border-radius: 20px;
}

.articleCard img {
  width: 400px;
  border-radius: 20px;
}

.singleArticleBody,
.commentList {
  margin: 50px;
}

.singleArticleBody p {
  text-align: justify;
}

.commentCard {
  border-style: solid;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
